h1 {
    color:blue;
}
h3{
    color:red;
    font-style:italic;
}
.btn{
    background-color:green;
    color:white;
}
.fadedText{
    opacity:50;
}
.marginMaker{
    margin-bottom:1em;
}
.confirmationMessage{
    color:green;
}
input[type=text]{
    width:65%;
}

